@import url(http://weloveiconfonts.com/api/?family=fontawesome);

h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

h2 {
    font-size: 1.7rem;
    font-weight: 100;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 3.5em;  
}

h3 {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 2em;  
    margin-left: 2em;
}

h4 {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 1em;
}

h6 {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 2em;  
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.col-12, .col-sm-4 {
    position: relative;
    width: 100%;
    padding-right: 5em;
    padding-left: 5em;  
}

.bi {
    margin-top: 20px;
    margin-bottom: 20px;  
}

.bg-light {
    background-color: white !important;
}

.btn-primary, .btn-lg {
    background-color: #0b699f;
    border-color: none;
}

.logotipo-navbar {
    width: 12em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.logotipo-footer {
    width: 15em;
    padding-top: 0.8em;
    padding-bottom: 1.7em;
}

.logotipo-escuela {
    width: 15em;
    padding-top: 1.8em;
    padding-bottom: 0.8em;
}

.jumbotron-fluid {
    padding-right: 2em !important;
    padding-left: 2em !important;
}

.container {
    padding-right: 1%;
    padding-left: 1%;
}

.nav-link {
    padding: 2%;
}

.img-contacto { 
    width: 10px;
}

.img-componentes { 
    width: 16em;
    margin-top: 0;
    vertical-align: middle;
}
    
.img-correspondencias {
    width: 40em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.img-esquema {
    width: 60em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.img-posibilidad {
    width: 30em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    padding-top: 10em;
    padding-bottom: 10em;
    border-radius: 0;
}

li {
    padding: 5px;
}

.header-text {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    padding: 1em;
}

.cache-card {
    position: relative;
}

.cache-disco {
    min-height: 30em;
    position: relative;
}

.card {
    margin: 10px;
    padding: 30px;
    border: none;
  }
  
  /* Flip Cards CSS */
  .card-container {
    display: grid;
    perspective: 700px;
  }
  
  .card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .card-text ul{
      text-align: left;
  }
  
  .front {
    grid-area: frontAndBack;
    background-color:  rgb(230, 230, 230);
  }
  
  .back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
    background-color: white;
  }
  
  .card-container:hover .card-flip {
    transform: rotateY(180deg);
}
  
.mecanismo-text {
    font-size: 1.2rem;
    font-weight: auto;
    line-height: 1.2;
    text-align: center;
    padding: 2em;
}

.swap-on-hover {
    position: relative;	
    margin:  0 auto;

  }
  
  .swap-on-hover img {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
  }
  
  .swap-on-hover .swap-on-hover__front-image {
    z-index: 9999;
    transition: opacity .5s linear;
  }
  
  .swap-on-hover:hover > .swap-on-hover__front-image{
    opacity: 0;
}
  
.funciones-seccion {
    padding-top: 1em;
    padding-bottom: 6em;
}

.tipos-seccion {
    background-color: rgb(230, 230, 230);
    padding-top: 2em;
    padding-bottom: 6em;
}

.componentes-seccion {
    padding-top: 2em;
    padding-bottom: 4em;
}

.mecanismo-seccion {
    padding-top: 2em;
    padding-bottom: 6em;
}

.mecanismo-swap { 
    position: relative;
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome';
  }
  
  ul.componentes { 
      list-style-type: none; 
      margin: 16px 0;
      padding-left: 2em;
}
  .componentes li {
      text-indent: -1.6em;
}
  .componentes li::before {
      font-family: FontAwesome;
      color: #0b699f;
      content: "\f00c";
      float: left;
      width: 1.6em;
}

footer {
    background-color: rgb(26, 26, 26);
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 4em;
    padding-bottom: 3em;
    text-align-last: left;
    position: relative;
}

.footer-text {
    color: white;
    font-weight: 100;
    margin-block-end: 0px;
}

.footer-li {
    text-decoration: none;
    text-align: left;
    list-style-type: none;
}